:root {
  --grey-color: #d3d3d3;
  --main-color: #09172a;
  --side-color: #182437;
  --white-color: #fff;
}

* {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "GRAD" 0;
}

.main {
  display: flex;
}

.top-side {
  padding: 20px 10px 0px 10px;
}

.side-bar {
  background-color: var(--main-color);
  width: 15%;
  color: var(--grey-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  margin-bottom: 25px;
  color: var(--white-color);
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-picture {
  max-width: 20%;
}

.logo-picture img {
  width: 100%;
  height: auto;
}

.menu {
  margin-bottom: 50px;
}

.divider {
  border-bottom: 1px solid var(--side-color);
  border-radius: 15px;
  margin-bottom: 20px;
}

.menu h2,
.settings h2 {
  margin: 5px 0px;
  font-size: 12px;
}


.menu li,
.settings li {
  padding: 10px 5px;
  margin: 3px 0px;
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
}

.user-profile {
  padding: 15px 10px 30px 10px;
  background-color: var(--side-color);
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  gap: 10px;
  font-size: 15px;
}

.user-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
}

.user-mail {
  font-weight: 800;
  color: var(--white-color);
}

.add-button {
  background: var(--main-color);
  color: var(--white-color);
  padding: 5px 15px;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.plus {
  font-size: 20px;
}

.main-section {
  width: 100%;
}

header {
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
}

header h2 {
  font-weight: bolder;
  font-size: 25px;
}

.body-section {
  padding: 20px 30px;

}

#search-good {
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding: 10px 15px;
  width: 30%;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #808080;
  margin-bottom: 25px;
}

#search-good input {
  background: #f5f5f5;
  font-size: 16px;
  color: #808080;
}

.category-buttons {
  display: flex;
  gap: 20px;
}

.category-button {
  padding: 7px 10px;
  background: #f5f5f5;
  border-radius: 7.5px;
  color: var(--main-color);
}

.active {
  background-color: var(--main-color);
  color: var(--white-color);
}

.cards-section {
  padding: 20px 0px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 24px;
}

.card {
  width: 100%;
  padding: 15px 10px;
  border: 1px solid var(--grey-color);
  border-radius: 15px;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.card-image {
  width: 50%;
}

.card-image img {
  max-width: 100%;
}

.card-titleAndCategory {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-title,
.card-dropdown {
  padding-top: 10px;
}

.card-title {
  font-weight: 800;
}

.card-dropdown-button {
  background: rgba(0, 0, 0, 0);
}

.card-category {
  width: fit-content;
  background: #ff9bff;
  color: #be2cbe;
  padding: 7px;
  border-radius: 10px;
  font-size: 15px;
}

.card-data {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 15px 0px;
}

.card-price,
.card-stock,
.card-profit {
  display: flex;
  gap: 10px;
}

.prices {
  display: flex;
  gap: 5px;
}

.card-price p,
.card-stock p,
.card-profit p {
  color: #727272;
}

.card-buttons {
  display: flex;
  gap: 7px;
  justify-content: space-between;
}

.card-button {
  background-color: var(--main-color);
  color: #fff;
  padding: 7px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 50%;
}